nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
nav img{
    width: 150px;
}
body{
    margin: 0;
}
nav a{
    color: white;
    text-decoration: none;
}
.div1{
    height: 700px;
    background-image: url(./img/figt.png);
    background-size: cover;
    color: white;
    padding-top: 50px;
}
.div1 h1{
    font-size: 100px;
    margin-top: 50px;
    margin-left: 30px;
}
.div1 h5{
    
    margin-left: 30px;
}

.div1 p{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 30px;
}
.div1 button{
    background-color: black;
    color: white;
    width: 200px;
    height: 65px;
    box-shadow: 0 0 5px orange;
    position: relative;
    left: 1000px;
    top: 200px;
    border-radius: 20px;
    font-size: 25px;
}
.content{
    display: flex;
    align-items: center;
}
.title{
    text-align: center;
    margin-bottom: 10px;
}
.blackcard1{
    background-image: url(./img/blackcard1.png);
    height: 600px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
footer{
    background-color: black;
    color: white;
}